/**
 * Mustapha Bouh !!
 */
 
  @font-face { font-family: "lighy"; font-weight: normal; font-style: normal; src: url("https://cdn.jsdelivr.net/gh/Modareb/files/css/GE_SS_Text_Light.woff");  format("svg"); }
 /*@font-face { font-family: "lighty"; font-weight: bold; font-style: normal; src: url("https://cdn.jsdelivr.net/gh/Modareb/files/css/GE_SS_Text_Light.ttf");
